.assets-item {
  background: #000;
  width: calc(33.33% - 30px);
  color: #fff;
  padding: 30px;
  margin: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  position: relative;
  min-height: 100px;

  &:hover {
    filter: drop-shadow(0px 0px 10px #6527a380);
  }

  @media (max-width: 1100px) {
    width: calc(50% - 30px);
  }

  @media (max-width: 800px) {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 30px 10px;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;
  }

  &__heading {
    display: flex;
    align-items: center;
  }

  &__symbol {
    width: 48px;
    height: 48px;
    background: linear-gradient(135deg, #6427a3 15.21%, #000000 85%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    @media (max-width: 800px) {
      font-size: 0.7rem;
    }
  }

  &__name {
    margin: 0 0 0 15px;
    padding: 0;
    font-size: 1.3rem;

    @media (max-width: 800px) {
      font-size: 0.9rem;
      margin: 0 0 0 10px;
    }
  }

  &__value {
    font-size: 1rem;
    z-index: 20;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    @media (max-width: 800px) {
      font-size: 0.9rem;
    }

    &--increase {
      color: #70ed9d;
    }
    &--decrease {
      color: #ed7070;
    }
  }

  &__chart {
    position: absolute;
    right: -10px;
    top: 0;
    z-index: 10;
    // &::after {
    //   content: "";
    //   top: 0;
    //   left: 0;
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   background: linear-gradient(
    //     180deg,
    //     rgba(0, 0, 0, 0) 0%,
    //     rgba(0, 0, 0, 1) 100%
    //   );
    // }
    &::before {
      content: "";
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 20;
      background: linear-gradient(
        -270deg,
        rgb(0, 0, 0) 15%,
        rgba(0, 0, 0, 0) 30%
      );
    }
  }

  &__price {
    color: #fff;
  }
}
